<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <title>Selected Bookings</title>
</head>
<body id="page-top">

<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <header class="py-sm-3 pt-3 pb-2">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/}"><span class="glyphicon glyphicon-home"></span>Home</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/logout"><span></span> Log
                        Out</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')" href="/bookings"><span class="fa fa-history"></span>
                        Your Booking History</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/bookings"><span class="fa fa-history"></span>
                        Outstanding Bookings</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')" href="/addappointment"><span class="fa fa-plus-circle"></span>
                        Add New Appointment</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')" href="/bookingCart"><span class="fa fa-shopping-cart"></span>Your
                        Booking Cart</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')"><span class="fa fa-user-circle"></span>
                        <span class="user" sec:authentication="name"></span></a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')"><span class="fa fa-user-circle"></span>
                        <span class="admin" sec:authentication="name"></span></a>
                </div>
            </div>
        </div>
    </header>
</nav>
<div class="main-navigation">
    <header class="py-sm-3 pt-3 pb-2" id="home">
        <div class="container">
            <div class="top-navigation d-flex">
                <div>
                    <a href="/login" class="question"><span></span> Log
                        In</a>
                    <a href="/logout" class="question"><span></span> Log
                        Out</a>

                    <a sec:authorize="hasRole('ROLE_USER')" class="question" href="/bookings"><span class="fa fa-history"></span>
                        Your Booking History</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="question" href="/admin/bookings"><span class="fa fa-history"></span>
                        Outstanding Bookings</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="question" href="/addappointment"><span class="fa fa-plus-circle"></span>
                        Add New Appointment</a>
                    <a  class="question" href="/bookingCart"><span></span> Your
                        Bookings Cart</a>
                    <a  class="question" sec:authorize="hasRole('ROLE_USER')"><span class="fa fa-user-circle-o"></span>
                        <span class="user" sec:authentication="name"></span></a>
                    <a  class="question"><span class="fa fa-user-circle-o"></span>
                        <span class="admin" sec:authentication="name"></span></a>
                </div>
            </div>
        </div>
    </header>
</div>

<section class="page-section portfolio" id="portfolio">
    <div class="text-center">
        <div class="appointment-container row justify-content-center">
            <div class="col-xs-6 align-self-center" sec:authorize="hasRole('ROLE_USER')">
                <h1 th:text="${appointment.getName()}"></h1>
                <p th:text="${appointment.getDate()}"></p>
                <p th:text="${appointment.getTime()}"></p>
                <div th:if="${appointment.getAvailableAppointmentCount()} != 0">
                    <form th:action="@{|/appointment/${appointment.getId()}/addToBookingCart|}">
                        <button type="submit" class="btn btn-secondary">Select Current Booking</button>
                    </form>
                </div>
                <div th:if="${appointment.getAvailableAppointmentCount()} == 0">
                    <p>No More Available Bookings</p>
                </div>

            </div>

            <div class="text-center">
                <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{|/appointment/${appointment.getId()}/change-appointment|}">
                    <h4>UPDATE APPOINTMENT (FOR ADMIN USE):</h4>
                    <div class="mb-3">
                    <label>Name:</label><br />
                    <input th:name="name" type="text" th:value="${appointment.getName()}" /><br />
                    </div>
                    <div class="mb-3">
                        <label>Vaccination Centre: </label><br />
                        <input th:name="centre" type="text" th:value="${appointment.getCentre()}" /><br />
                    </div>
                    <div class="mb-3">
                    <label>Date:</label><br />
                    <input th:name="date" type="text" th:value="${appointment.getDate()}" /><br />
                    </div>
                    <div class="mb-3">
                    <label>Time:</label><br />
                    <input th:name="time" type="text" th:value="${appointment.getTime()}" /><br />
                    </div>
                    <div class="mb-3">
                    <label>Availability:</label><br />
                    <select th:name="availability">
                        <option th:selected="${appointment.getAvailability() == true}" value="true">
                            Available
                        </option>
                        <option th:selected="${appointment.getAvailability() == false}" value="false">
                            Unavailable
                        </option>
                    </select><br />
                    </div>
                    <button type="submit" class="btn btn-secondary">Update Appointment</button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <div class="col-lg-4">
                <p class="lead mb-0">
                    All rights reserved to HackerQueenz ®
                </p>
            </div>
        </div>
    </div>
</footer>

</body>

</html>