<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/questions.css">

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" />
    <title>Selected Bookings</title>
</head>
<body id="page-top">

<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <header class="py-sm-3 pt-3 pb-2" id="home">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/}"><span class="glyphicon glyphicon-home"></span>Home</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/logout"><span></span> Log
                        Out</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')" href="/bookings"><span class="fa fa-history"></span>
                        Your Booking History</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/bookings"><span class="fa fa-history"></span>
                        Outstanding Bookings</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')" href="/addappointment"><span class="fa fa-plus-circle"></span>
                        Add New Appointment</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')" href="/bookingCart"><span class="fa fa-shopping-cart"></span>Your
                        Booking Cart</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')"><span class="fa fa-user-circle"></span>
                        <span class="user" sec:authentication="name"></span></a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')"><span class="fa fa-user-circle"></span>
                        <span class="admin" sec:authentication="name"></span></a>
                </div>
            </div>
        </div>
    </header>
</nav>

<div class="container py-md-5" >
    <section class="page-section portfolio" id="portfolio">
        <div class="container py-md-5" th:unless="${count == 0}">
            <table class="table table-hover">
                <thead>
                <th>Appointment</th>
                <th>Date</th>
                </thead>
                <tbody>
                <tr th:each="item: ${bookingCart.keySet()}">
                    <td th:text="${bookingCart.get(item).getAppointment().getName()}"></td>
                    <td th:text="${bookingCart.get(item).getAppointment().getDate()}"></td>
                    <td>
                        <a th:href="'/bookingCart/delete?id=' + ${item}"><button class="btn btn-secondary">Remove Booking</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="/confirmation"><button class="btn btn-secondary">Proceed to confirmation</button></a>
        </div>
        <div class="empty-bookingCart" th:if="${count == 0}">
            <h4>You haven't selected any bookings!</h4>
        </div>
    </section>
</div>


<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <div class="col-lg-4">
                <p class="lead mb-0">
                    All rights reserved to HackerQueenz ®
                </p>
            </div>
        </div>
    </div>
</footer>

</body>

</html>