<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <title>Bookings</title>
</head>
<body id="page-top">

<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <header class="py-sm-3 pt-3 pb-2" id="home">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/}"><span class="glyphicon glyphicon-home"></span>Home</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/logout"><span></span> Log
                        Out</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')" href="/bookings"><span class="fa fa-history"></span>
                        Your Booking History</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/bookings"><span class="fa fa-history"></span>
                        Outstanding Bookings</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')" href="/addappointment"><span class="fa fa-plus-circle"></span>
                        Add New Appointment</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')" href="/bookingCart"><span class="fa fa-shopping-cart"></span>Your
                        Booking Cart</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')"><span class="fa fa-user-circle"></span>
                        <span class="user" sec:authentication="name"></span></a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')"><span class="fa fa-user-circle"></span>
                        <span class="admin" sec:authentication="name"></span></a>
                </div>
            </div>
        </div>
    </header>
</nav>


<section class="page-section portfolio" id="portfolio">
    <div class="container py-md-5">
        <table class="table table-hover">
            <thead>
            <th>Booking No.</th>
            <th>Vaccination Centre</th>
            <th>Date</th>
            <th>Time</th>
            <th>Dose</th>
            <th>Booking Status</th>
            </thead>
            <tbody sec:authorize="hasRole('ROLE_ADMIN')">
            <tr th:each="booking: ${bookings}">
                <td th:text="${booking.getId()}"></td>
                <td  th:each="po: ${booking.getAppointmentBookings()}"
                     th:text="${po.getAppointment().getCentre()}"></td>


                <td  th:each="po: ${booking.getAppointmentBookings()}"
                     th:text="${po.getAppointment().getDate()}"></td>

                <td  th:each="po: ${booking.getAppointmentBookings()}"
                     th:text="${po.getAppointment().getTime()}"> </td>
                <td>
                    <p class="booking"
                       th:each="po: ${booking.getAppointmentBookings()}"
                       th:text="${po.getAppointment().getName()}"
                    ></p>
                </td>
                <td>
                    <form th:action="@{|/admin/bookings/${booking.getId}/change_status|}">
                        <select th:name="status" onchange="this.form.submit();">
                            <option
                                    value="PENDING"
                                    th:selected="${booking.getStatus.toString == 'PENDING'}"
                            >
                                PENDING
                            </option>
                            <option
                                    value="CONFIRMED"
                                    th:selected="${booking.getStatus.toString == 'CONFIRMED'}"
                            >
                                CONFIRMED
                            </option>
                            <option
                                    value="CANCELLED"
                                    th:selected="${booking.getStatus.toString == 'CANCELLED'}"
                            >
                                CANCELLED
                            </option>
                            <option
                                    value="PAST"
                                    th:selected="${booking.getStatus.toString == 'PAST'}"
                            >
                                PAST
                            </option>
                        </select>
                    </form>
                </td>

                <td th:if="${booking.getStatus.toString} == 'PAST'">
                    <form th:action="@{|/admin/bookings/${booking.getId}/change_vaccine|}">
                        <select th:name="vaccine" onchange="this.form.submit();">
                            <option
                                    value="Pfizer"
                                    th:selected="${booking.getVaccine.toString == 'Pfizer'}"
                            >
                                Pfizer
                            </option>
                            <option
                                    value="Moderna"
                                    th:selected="${booking.getVaccine.toString == 'Moderna'}"
                            >
                                Moderna
                            </option>
                            <option
                                    value="Jannsenn"
                                    th:selected="${booking.getVaccine.toString == 'Jannsenn'}"
                            >
                                Jannsenn
                            </option>
                            <option
                                    value="AstraZeneca"
                                    th:selected="${booking.getVaccine.toString == 'AstraZeneca'}"
                            >
                                AstraZeneca
                            </option>
                        </select>
                    </form>
                </td>
            </tr>
            </tbody>
            <tbody sec:authorize="hasRole('ROLE_USER')">
            <tr th:each="booking: ${bookings}">
                <td th:text="${booking.getId()}"></td>
                <td th:each="po: ${booking.getAppointmentBookings()}" th:text="${po.getAppointment().getDate()}"></td>
                <td th:each="po: ${booking.getAppointmentBookings()}" th:text="${po.getAppointment().getTime()}"></td>
                <td>
                    <p th:each="po: ${booking.getAppointmentBookings()}" th:text="${po.getAppointment().getName()}"></p>
                </td>


                <td th:text="${booking.getStatus}"></td>
                <td th:if="${booking.getStatus.toString} == 'CONFIRMED'">
                    <form th:action="@{|/admin/bookings/${booking.getId}/change_status|}">
                        <select th:name="status" onchange="this.form.submit();">
                            <option
                                    value="CONFIRMED"
                                    th:selected="${booking.getStatus.toString == 'CONFIRMED'}"
                            >
                                CONFIRMED
                            </option>
                            <option
                                    value="CANCELLED"
                                    th:selected="${booking.getStatus.toString == 'CANCELLED'}"
                            >
                                CANCELLED
                            </option>
                        </select>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>


<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <div class="col-lg-4">
                <p class="lead mb-0">
                    All rights reserved to HackerQueenz ®
                </p>
            </div>
        </div>
    </div>
</footer>


</body>
</html>
