<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/questions.css">

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" />
    <title>Home</title>
</head>
<body id="page-top">

<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <header class="py-sm-3 pt-3 pb-2" id="home">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/logout"><span class="fa fa-sign-out"></span> Log
                        Out</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')" href="/bookings"><span class="fa fa-history"></span>
                        Your Booking History</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/bookings"><span class="fa fa-history"></span>
                        Outstanding Bookings</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')" href="/addappointment"><span class="fa fa-plus-circle"></span>
                        Add New Appointment</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')" href="/bookingCart"><span class="fa fa-shopping-cart"></span> Your
                        Booking Cart</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')"><span class="fa fa-user-circle"></span>
                        <span class="user" sec:authentication="name"></span></a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')"><span class="fa fa-user-circle"></span>
                        <span class="admin" sec:authentication="name"></span></a>
                </div>
            </div>
        </div>
    </header>
</nav>

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5" src="assets/hse.png" alt="..." />
        <h1 class="masthead-heading text-uppercase mb-0">Vaccinations</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <button type="button" class="btn btn-secondary"><a class="masthead-subheading font-weight-light mb-0" href="/questions">Public Q and A</a></button>
        <button style="margin-top:30px"type="button" class="btn btn-secondary"><a class="masthead-subheading font-weight-light mb-0" href="/statistics">Vaccine Statistics</a></button>
    </div>
</header>

<section class="page-section portfolio" id="portfolio">
    <div class="container py-md-5">
        <div class="row">
            <div class="col-lg-4 text-center mt-lg-5">
                <h3 class="text-uppercase mb-4">Available Vaccination Appointments for Booking</h3>
            </div>
            <div class="col-lg-8 gallery-content">
                <div class="row">
                    <h3 class="text-uppercase mb-4">Croke Park</h3>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th class="text-uppercase mb-4">Dose</th>
                                <th class="text-uppercase mb-4">Date</th>
                                <th class="text-uppercase mb-4">Time</th>
                                <th class="text-uppercase mb-4">Select Booking</th>
                            </tr>
                        </thead>
                        <div th:each="appointment, i: ${appointments}" class="col-md-3 col-sm-6 gal-img text-center">
                            <tr th:switch="${appointment.getCentre()}" class="active-row">
                                <span th:case="'Croke Park'">
                                    <th th:text="${appointment.getName()}"></th>
                                    <th th:text="${appointment.getDate()}"></th>
                                    <th th:text="${appointment.getTime()}"></th>
                                    <th><button type="button" class="btn btn-secondary"><a th:href="@{|/appointment/${appointment.getId()}|}">select booking</a></button></th>
                                </span>
                            </tr>
                        </div>
                    </table>
                    <h3 class="text-uppercase mb-4">UCD</h3>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th class="text-uppercase mb-4">Dose</th>
                                <th class="text-uppercase mb-4">Date</th>
                                <th class="text-uppercase mb-4">Time</th>
                                <th class="text-uppercase mb-4">Select Booking</th>
                            </tr>
                        </thead>
                        <div th:each="appointment, i: ${appointments}" class="col-md-3 col-sm-6 gal-img text-center">
                            <tr th:switch="${appointment.getCentre()}" class="active-row">
                                <span th:case="'UCD'">
                                    <th th:text="${appointment.getName()}"></th>
                                    <th th:text="${appointment.getDate()}"></th>
                                    <th th:text="${appointment.getTime()}"></th>
                                    <th><button type="button" class="btn btn-secondary"><a th:href="@{|/appointment/${appointment.getId()}|}">select booking</a></button></th>
                                </span>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
            </div>
            <div class="col-lg-4">
                <p class="lead mb-0">
                    All rights reserved to HackerQueenz ®
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
