<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/login.css">

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
<section class="page-section portfolio" id="portfolio">
    <div class="container py-md-5">
        <div class="container-fluid">
            <div class="row main-content bg-success text-center">
                <div class="col-md-4 text-center company__info">
                    <span class="company__logo"><img class="masthead-avatar mb-5" src="assets/white.png" alt="..." /></span>
                    <h4 class="company_title">Vaccination Nation</h4>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
                    <div class="container-fluid">
                        <div class="row">
                            <h2>Log In</h2>
                        </div>
                        <div class="row">
                            <form action="/login" method="post" control="" class="form-group" enctype="multipart/form-data">
                                <div class="row">
                                    <input type="text" name="email" class="form__input" placeholder="Email" required="required">
                                </div>
                                <div class="row">
                                    <input type="password" name="password" class="form__input" placeholder="Password" required="required" data-error="Please enter a password of more than 8 characters">
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-block-register">Login</button>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <p>Don't have an account? <a th:href="@{/registration}">Register Here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>