<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/login.css">

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" />
    <title>Registration</title>
</head>
<body>
<section class="page-section portfolio" id="portfolio">
    <div class="container py-md-5">
        <div class="container-fluid">
            <div class="row main-content bg-success text-center">
                <div class="col-md-4 text-center company__info">
                    <span class="company__logo"><img class="masthead-avatar mb-5" src="assets/white.png" alt="..." /></span>
                    <h4 class="company_title">Vaccination Nation</h4>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
                    <div class="container-fluid">
                        <div class="row">
                            <h2>Register</h2>
                        </div>
                        <div class="row">
                            <form action="/registration" th:object="${userForm}" method="POST" enctype="utf8" control="" class="form-group">
                                <div class="row">
                                    <label>First Name:</label>
                                    <input  class="form__input" th:field="*{firstName}" required />
                                    <p th:each="error: ${#fields.errors('firstName')}"
                                      th:text="${error}">Validation error</p>
                                </div>
                                <div class="row">
                                    <label>Last Name:</label>
                                    <input  class="form__input" th:field="*{lastName}" required />
                                    <p th:each="error : ${#fields.errors('lastName')}"
                                      th:text="${error}">Validation error</p>
                                </div>
                                <div class="row">
                                    <label>Email:</label>
                                    <input  class="form__input" type="email" th:field="*{email}" required />
                                </div>
                                <div class="row">
                                    <label>Password:</label>
                                    <input  class="form__input" type="password" th:field="*{password}" minlength="4" oninvalid="this.setCustomValidity('Password Must Contain at least 1 uppercase Letter, 1 Lowercase letter, 1 numerical digit 0-9 and 1 special character ie.!,#')"
                                            oninput="this.setCustomValidity('')"/>
                                    <p th:each="error : ${#fields.errors('password')}"
                                      th:text="${error}">Validation error</p>
                                </div>
                                <div class="row">
                                    <label>Confirm Password:</label>
                                    <input  class="form__input" type="password" th:field="*{passwordConfirm}" required />
                                </div>
                                <div class="row">
                                    <label >Date Of Birth:</label>
                                    <input class="form__input" type="date" th:field="*{dateOfBirth}"  id="datemax" name="datemax" max="2004-05-31" required />
                                </div>
                                <div class="row">
                                    <label>PPS Number:</label>
                                    <input class="form__input" th:field="*{ppsNumber}"  placeholder="1234567AB" pattern="[0-9]{7}[A-Z]{1,2}" required
                                           oninvalid="this.setCustomValidity('PPS Numbers are usually 7 numbers followed by 1 or 2 uppercase Letter')"
                                           oninput="this.setCustomValidity('')"/>
                                </div>
                                <div class="row">
                                    <label>Address:</label>
                                    <input class="form__input" th:field="*{address}" required />
                                </div>
                                <div class="row">
                                    <label>Phone Number:</label>
                                    <input class="form__input" th:field="*{phoneNumber}" required />
                                </div>
                                <div class="row">
                                    <label>Nationality:</label>
                                    <input class="form__input" th:field="*{nationality}" required />
                                </div>
                                <div>
                                    <label >Gender:</label>
                                    <select class='form__input' th:field="*{gender}" >
                                        <option th:value="Male">
                                            Male
                                        </option>
                                        <option th:value="Female">
                                            Female
                                        </option>
                                    </select>
                                </div>
                                <div class="row">
                                    <button class="btn btn-block-register" type="submit">Register</button>
                                </div>

                                <div class="row">
                                    <button type="button" class="btn btn-block-register"><a th:href="@{/login}">Login</a></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>
</section>



</body>
</html>