<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/stats.css">

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    

    <title>Selected Bookings</title>
</head>
<body id="page-top">

<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <header class="py-sm-3 pt-3 pb-2" id="home">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/}"><span class="glyphicon glyphicon-home"></span>Home</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/logout"><span></span> Log
                        Out</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')" href="/bookings"><span class="fa fa-history"></span>
                        Your Booking History</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/bookings"><span class="fa fa-history"></span>
                        Outstanding Bookings</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')" href="/addappointment"><span class="fa fa-plus-circle"></span>
                        Add New Appointment</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/bookingCart"><span class="fa fa-shopping-cart"></span>Your
                        Booking Cart</a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_USER')"><span class="fa fa-user-circle-o"></span>
                        <span class="user" sec:authentication="name"></span></a>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" sec:authorize="hasRole('ROLE_ADMIN')"><span class="fa fa-user-circle-o"></span>
                        <span class="admin" sec:authentication="name"></span></a>
                </div>
            </div>
        </div>
    </header>
</nav>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1 style = "text-align:center" >Vaccinated Age Groups</h1>
<div  style="width:500px; height:300px;   margin: 0 auto;">
    <canvas id="ageChart"></canvas>
</div>

<h1 style = "text-align:center">Nationalities</h1>
<div  style="width:500px; height:300px;   margin: 0 auto;">
    <canvas id="nationChart"></canvas>
</div>
<h1 style = "text-align:center">Male vs Female</h1>
<div  style="width:500px; height:300px;   margin: 0 auto;">
    <canvas id="MVFChart"></canvas>
</div>

<script  th:inline="javascript">

    var age_html = [[${ages}]];
    var age_labels = Object.keys(age_html);

   var males = [[${numberOfMales}]]

    var nation_html = [[${Nationalities}]];
    var nation_labels = Object.keys(nation_html);

    const age_data = {
      labels: age_labels,
      datasets: [{
        label: 'Number of vaccine recipients',
        backgroundColor: '#1abc9c',
        borderColor: 'rgb(255, 99, 132)',
        data: Object.keys(age_html).map(function(key) {return age_html[key];}),
      }]
    };

    const nation_data = {
      labels: nation_labels,
      datasets: [{
        label: 'Number of vaccine recipients',
        backgroundColor: '#1abc9c',
        borderColor: 'rgb(255, 99, 132)',
        data: Object.keys(nation_html).map(function(key) {return nation_html[key];}),
      }]
    };
    
    const MVF_data = {
      labels: ['Male','Female'],
      datasets: [{
        label: 'Number of vaccine recipients',
        backgroundColor: ['#80CBFB','#FDC4F1'],
        borderColor: 'rgb(255, 99, 132)',
        data: new Array([[${numberOfMales}]],[[${numberOfFemales}]]),
      }]
    };
  
    const age_config = {
        type: 'bar',
      data: age_data,
      options: {}
    };

    const nation_config = {
        type: 'bar',
      data: nation_data,
      options: {}
    };

    const MVF_config = {
        type: 'bar',
      data: MVF_data,
      options: {
        plugins:{   
            legend: {
              display: false
                    },
                 }
    }
    };
    
    

  </script>
  <script  th:inline="javascript">
    const ageChart = new Chart(
      document.getElementById('ageChart'),
      age_config
    );
    const nationChart = new Chart(
        document.getElementById('nationChart'),
        nation_config
      );
    const MVFChart = new Chart(
        document.getElementById('MVFChart'),
        MVF_config
      ); 
  </script>
   
<div>
    <a th:href="@{/}" class="btn shop">Return to Home</a>
</div>
</body>


</html>